<div class="accountsMainContainer">
    <div class="container accountsListTitle">
        <div class="row p-3">
            <div *ngFor="let title of accountsListTitle" class="col itemTitle">{{title}}</div>
        </div>
    </div>
    <mat-list>
        <mat-list-item *ngFor="let item of accountsList">
            <div class="container">
                <div class="row">
                    <div class="col">{{item.accountType}}</div>
                    <div class="col">{{item.accountName}}</div>
                    <div class="col">{{item.accountStatus}}</div>
                    <div class="col">{{item.accountCurrency}}</div>
                    <div class="col">{{item.accountBalance}}</div>
                </div>
            </div>
        </mat-list-item>
    </mat-list>
</div>