.sidebar {
    background-color: #042656;
    .logo {
        min-width: 175px;
        min-height: 175px;
    }
    .menu-button {
        color: #FFFFFF
    }
    .header-option {
        color: #2FCBC9
    }
}

.mainToolbar {
    background-color: #FFFFFF;
}

.secondToolbar {
    background-color: #0747CB;
}